@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  body {
    @apply bg-white text-ramyaa-charcoal antialiased selection:bg-ramyaa-pink selection:text-white;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #FDFBF7;
}

::-webkit-scrollbar-thumb {
  background: #E785B1;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1E65B3;
}
